<div class="header-container-mobile">
    <div class="header-item-mobile">
        <div class="header-logo-mobile">
            <img src="assets/image/header/logo/fahasa-logo-mobile.png" alt="Logo Mobile">
        </div>
        <div class="header-functions-mobile">
            <div class="functions-container">
                <div class="function-item">
                    <img src="assets/image/header/icon/ico_menu_white.svg" alt="icon">
                </div>
                <div class="function-item">
                    <input type="text" placeholder="Tìm kiếm sản phẩm mong muốn..." [style.width]="searchWidth + 'px'">
                </div>
                <div class="function-item">
                    <div class="image-item">
                        <img src="assets/image/header/icon/ico_shopping_cart_white.svg" alt="icon">
                        <img src="assets/image/header/icon/ico_thongtintk.svg" alt="icon">                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>