<div class="item-container-dropdown">
    <div class="main-item">
        <img src="assets/image/header/icon/ico_noti_gray.svg" alt="icon">
        <span>Thông Báo</span>
    </div>   
    <div class="item-notification-dropdown">
        <div class="item-notification-title">
            <img src="assets/image/common/popup/header/ico_noti_black.svg" alt="">
            <span>Thông báo</span>
        </div>
        <div class="item-notification-content">
            <img src="assets/image/common/popup/header/ico_login.svg" alt="">
            <span>Vui lòng đăng nhập để xem thông báo</span>
        </div>
        <div class="item-notification-btn">
            <button class="btn-login">Đăng nhập</button>
            <button class="btn-register">Đăng ký</button>
        </div>
    </div>
</div>