<div class="footer-body">
    <div class="fb-main-text w-230">
        <div class="fb-title">
            <span>CHĂM SÓC KHÁCH HÀNG</span>
        </div>
        <div class="fb-content">
            <div class="text">
                <a href="">Trung Tâm Trợ Giúp</a>
            </div>
            <div class="text">
                <a href="">Shopee Blog</a>
            </div>
            <div class="text">
                <a href="">Shopee Mall</a>
            </div>
            <div class="text">
                <a href="">Hướng Dẫn Mua Hàng</a>
            </div>
            <div class="text">
                <a href="">Hướng Dẫn Bán Hàng</a>
            </div>
            <div class="text">
                <a href="">Thanh Toán</a>
            </div>
            <div class="text">
                <a href="">Shopee Xu</a>
            </div>
            <div class="text">
                <a href="">Vận Chuyển</a>
            </div>
            <div class="text">
                <a href="">Trả Hàng & Hoàn Tiền</a>
            </div>
            <div class="text">
                <a href="">Chăm Sóc Khách Hàng</a>
            </div>
            <div class="text">
                <a href="">Chính Sách Bảo Hành</a>
            </div>
        </div>
    </div>
    <div class="fb-main-text w-230">
        <div class="fb-title">
            <span>VỀ FAHASA</span>
        </div>
        <div class="fb-content">
            <div class="text">
                <a href="">Giới Thiệu Về Shopee Việt Nam</a>
            </div>
            <div class="text">
                <a href="">Tuyển Dụng</a>
            </div>
            <div class="text">
                <a href="">Điều Khoản Shopee</a>
            </div>
            <div class="text">
                <a href="">Chính Sách Bảo Mật</a>
            </div>
            <div class="text">
                <a href="">Chính Hãng</a>
            </div>
            <div class="text">
                <a href="">Kênh Người Bán</a>
            </div>
            <div class="text">
                <a href="">Flash Sales</a>
            </div>
            <div class="text">
                <a href="">Chương Trình Tiếp Thị Liên Kết Shopee sdadasdasdasdas dasdadsa</a>
            </div>
            <div class="text">
                <a href="">Liên Hệ Với Truyền Thông</a>
            </div>
        </div>
    </div>
    <div class="fb-main-text w-230">
        <div class="fb-title">
            <span>THANH TOÁN</span>
        </div>
        <div class="fb-content">
            <div class="image">
                <img src="assets/image/footer/icon/icon-visa.png" alt="">
            </div>
            <div class="image">
                <img src="assets/image/footer/icon/master-card.png" alt="">
            </div>
            <div class="image">
                <img src="assets/image/footer/icon/jcb.png" alt="">
            </div>
            <div class="image">
                <img src="assets/image/footer/icon/american-express.png" alt="">
            </div>
            <div class="image">
                <img src="assets/image/footer/icon/cod.png" alt="">
            </div>
            <div class="image">
                <img src="assets/image/footer/icon/tra-gop.png" alt="">
            </div>
            <div class="image">
                <img src="assets/image/footer/icon/pay.png" alt="">
            </div>
            <div class="image">
                <img src="assets/image/footer/icon/spay-later.png" alt="">
            </div>
        </div>
        <div class="fb-title mt-12 w-230">
            <span>ĐƠN VỊ VẬN CHUYỂN</span>
        </div>
        <div class="fb-content">
            <div class="image">
                <img src="assets/image/footer/icon/express/shopee-express.png" alt="">
            </div>
            <div class="image">
                <img src="assets/image/footer/icon/express/giao-hang-tiet-kiem.png" alt="">
            </div>
            <div class="image">
                <img src="assets/image/footer/icon/express/ghn.jfif" alt="">
            </div>
            <div class="image">
                <img src="assets/image/footer/icon/express/viettel-post.png" alt="">
            </div>
            <div class="image">
                <img src="assets/image/footer/icon/express/viet-nam-post.png" alt="">
            </div>
            <div class="image">
                <img src="assets/image/footer/icon/express/j&t.png" alt="">
            </div>
            <div class="image">
                <img src="assets/image/footer/icon/express/grab-express.png" alt="">
            </div>
            <div class="image">
                <img src="assets/image/footer/icon/express/ninja-van.png" alt="">
            </div>
            <div class="image">
                <img src="assets/image/footer/icon/express/best-express.png" alt="">
            </div>
            <div class="image">
                <img src="assets/image/footer/icon/express/be.png" alt="">
            </div>
        </div>
    </div>
    <div class="fb-main-text w-230">
        <div class="fb-title">
            <span>THEO DÕI CHÚNG TÔI TRÊN</span>
        </div>
        <div class="fb-content">
            <div class="text">
                <a href=""><img src="assets/image/footer/icon/facebook.png" class="pr-5" alt=""> Facebook</a>
            </div>
            <div class="text">
                <a href=""><img src="assets/image/footer/icon/instagram.png" class="pr-5" alt=""> Instagram</a>
            </div>
            <div class="text">
                <a href=""><img src="assets/image/footer/icon/linkedin.png" class="pr-5" alt=""> LinkedIn</a>
            </div>
        </div>
        <div class="fb-title mt-12">
            <span>LIÊN HỆ</span>
        </div>
        <div class="fb-content">
            <div class="text">
                <a href=""><img src="assets/image/footer/icon/map-market.png" class="pr-5" alt=""> 60-62 Lê Lợi, Q.1, TP. HCM</a>
            </div>
            <div class="text">
                <a href=""><img src="assets/image/footer/icon/envelop.png" class="pr-5" alt=""> cskh@fahasa.com.vn</a>
            </div>
            <div class="text">
                <a href=""><img src="assets/image/footer/icon/phone.png" class="pr-5" alt=""> 1900636467</a>
            </div>
        </div>
    </div>
    <div class="fb-main-text w-184">
        <div class="fb-title">
            <span>TẢI ỨNG DỤNG FAHASA</span>
        </div>
        <div class="fb-content">
            <div class="image">
                <a href="#"><img src="assets/image/footer/icon/qr.png" alt=""></a>
            </div>
            <div class="image-contaner">
                <div class="image">
                    <a href="#"><img src="assets/image/footer/icon/appstore.png" alt=""></a>
                </div>
                <div class="image">
                    <a href="#"><img src="assets/image/footer/icon/googleplay.png" alt=""></a>
                </div>
                <div class="image">
                    <a href="#"><img src="assets/image/footer/icon/appgallery.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>