<div class="common-container">
    <div class="event-container">
        <app-event-header [itemEvent]="itemEvent"></app-event-header>

        <app-event-direction *ngIf="itemEvent.type == 1"></app-event-direction>

        <!-- <div class="event-body">
            <div class="event-body-container">
                <div class="event-body-grid">
                </div>
            </div>
            <div class="event-body-btn">
                <button class="body-btn">Xem thêm</button>
            </div>
        </div> -->
    </div>
</div>