/* You can add global styles to this file, and also import other style files */
body {
    background-color: #F0F0F0 !important;
}

.nopadding {
    padding: 0 !important;
}

@media (min-width: 1200px) {
    .container {
        width: 1230px !important;
    }
}