<div class="banner-container">
    <div class="container nopadding">
        <div class="banner-item">
            <div class="banner-main">
                <div class="image-container">
                    <a href="">
                        <img src="assets/image/banner/main/MocaHappywoamndayT1022_840x320.jpg" alt="Banner Image Main">
                    </a>
                </div>
            </div>
            <div class="banner-right-side">
                <div class="rs-container">
                    <div class="rs-above">
                        <a href="">
                            <img src="assets/image/banner/right-side/STKT1022_Banner_392x156.jpg" alt="Banner Image Right Below">
                        </a>
                    </div>
                    <div class="rs-below">       
                        <a href="">
                            <img src="assets/image/banner/right-side/SpecialSaleForLadyT1022_Bộ1_392x156.jpg" alt="Banner Image Right Above">
                        </a>         
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>