<div class="banner-container">
    <div class="container nopadding">
        <div class="banner-item">
            <div class="banner-main">
                <div class="image-container">
                    <!-- <a href="">
                        <img src="assets/image/banner/main/FahasaOnline-T10_840x320.jpg" alt="Banner Image Main">
                    </a>
                    <div class="carousel-btn-back">
                        <a href="">
                            <img src="assets/image/banner/main/b61db5f1c32cfdc6d75e59d4fac2dbe8.png" alt="Banner Carousel Back">
                        </a>
                    </div> -->
                    <div class="carousel-number">
                        <button type="button" class="active"></button>
                        <button type="button"></button>
                        <button type="button"></button>
                    </div>
                    <div class="carousel-main">
                        <div class="carousel-item">
                            <img src="assets/image/banner/main/FHSPOTICO_840x320.png" alt="">
                        </div>
                    </div>
                    <button class="carousel-back">
                        <img src="assets/image/banner/main/b61db5f1c32cfdc6d75e59d4fac2dbe8.png" alt="Banner Carousel Back">
                    </button>
                    <button class="carousel-next">
                        <img src="assets/image/banner/main/b61db5f1c32cfdc6d75e59d4fac2dbe8.png" alt="Banner Carousel Next">
                    </button>
                </div>
                
            </div>
            <div class="banner-right-side">
                <div class="rs-container">
                    <div class="rs-above">
                        <a href="">
                            <img src="assets/image/banner/right-side/STKT1022_Banner_392x156.jpg" alt="Banner Image Right Below">
                        </a>
                    </div>
                    <div class="rs-below">       
                        <a href="">
                            <img src="assets/image/banner/right-side/SpecialSaleForLadyT1022_Bộ1_392x156.jpg" alt="Banner Image Right Above">
                        </a>         
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>