<div class="banner-container">
    <div class="container nopadding">
        <div class="banner-item">
            <div class="banner-main">
                <div class="carousel-container">
                    <div class="carousel-number">
                        <button type="button" class="carousel-item-img" id="btn-img-0"></button>
                        <button type="button" class="carousel-item-img" id="btn-img-1"></button>
                        <button type="button" class="carousel-item-img" id="btn-img-2"></button>
                    </div>
                    <div class="carousel-main">
                        <div class="carousel-main-item fade-img" id="item-0">
                            <a href="#">
                                <img src="assets/image/banner/main/SpecialSaleForLadyT1022_Banner_840x320.jpg">
                            </a>
                        </div>
                        <div class="carousel-main-item fade-img" id="item-1">
                            <a href="#">
                                <img src="assets/image/banner/main/FahasaOnline-T10_840x320.jpg" alt="">
                            </a>
                        </div>
                        <div class="carousel-main-item fade-img" id="item-2">
                            <a href="#">
                                <img src="assets/image/banner/main/MocaHappywoamndayT1022_840x320.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="carousel-btn-back">
                        <a href="#" id="btn-back">
                            <img src="assets/image/banner/main/b61db5f1c32cfdc6d75e59d4fac2dbe8.png" alt="Banner Carousel Back">
                        </a>
                    </div>
                    <div class="carousel-btn-next">
                        <a href="#" id="btn-next">
                            <img src="assets/image/banner/main/b61db5f1c32cfdc6d75e59d4fac2dbe8.png" alt="Banner Carousel Back">
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="banner-right-side">
                <div class="rs-container">
                    <div class="rs-above">
                        <a href="">
                            <img src="assets/image/banner/right-side/STKT1022_Banner_392x156.jpg" alt="Banner Image Right Below">
                        </a>
                    </div>
                    <div class="rs-below">       
                        <a href="">
                            <img src="assets/image/banner/right-side/SpecialSaleForLadyT1022_Bộ1_392x156.jpg" alt="Banner Image Right Above">
                        </a>         
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>