<div class="common-container">
    <div class="flash-sale-container">
        <div class="flash-sale-header">
            <div class="fl-logo">
                <div class="image">
                    <img src="assets/image/common/flash-sale/ico_flashsale@3x.png">
                </div>
            </div>
            <div class="fl-title">
                <div class="title">
                    <span>FLASH SALE</span>
                </div>
            </div>
            <div class="fl-separate">
                <div class="separate">
                    <div class="content"></div>
                </div>
            </div>
            <div class="fl-text">
                <div class="text">
                    <span>Kết Thúc Trong</span>
                </div>
            </div>
            <div class="fl-time">
                <div class="time-container">
                    <input id="timeEvent" type="hidden" [(ngModel)]="timeEvent">
                    <div class="time">
                        <span id="hour"></span>
                    </div>
                    <span>:</span>
                    <div class="time">
                        <span id="minute"></span>
                    </div>
                    <span>:</span>
                    <div class="time">
                        <span id="second"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flash-sale-direction">
            <div class="direct-back">
                <a id="btn-back-fl">
                    <img src="assets/image/common/icon/fa-angle-left_32_8_8e8c8c_none.png" alt="">
                </a>
            </div>
            <div class="direct-next">
                <a id="btn-next-fl">
                    <img src="assets/image/common/icon/fa-angle-right_32_8_8e8c8c_none.png" alt="">
                </a>
            </div>
        </div>

        <div class="flash-sale-body">
            <div class="fl-body-container">
                <div class="fl-body-grid">
                    <app-card-item *ngFor="let item of arrDemo" [product]="item"></app-card-item>
                </div>
            </div>
            <div class="fl-body-btn">
                <button class="body-btn">Xem thêm</button>
            </div>
        </div>
    </div>
</div>