<div class="common-container">
    <div class="flash-sale-container">
        <div class="flash-sale-header">
            <div class="fl-logo">
                <div class="image">
                    <img src="assets/image/common/flash-sale/ico_flashsale@3x.png">
                </div>
            </div>
            <div class="fl-title">
                <div class="title">
                    <span>FLASH SALE</span>
                </div>
            </div>
            <div class="fl-separate">
                <div class="separate">
                    <div class="content"></div>
                </div>
            </div>
            <div class="fl-text">
                <div class="text">
                    <span>Kết Thúc Trong</span>
                </div>
            </div>
            <div class="fl-time">
                <div class="time-container">
                    <div class="time">
                        <span>01</span>
                    </div>
                    <span>:</span>
                    <div class="time">
                        <span>30</span>
                    </div>
                    <span>:</span>
                    <div class="time">
                        <span>30</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flash-sale-body">
            <div class="fl-body-grid">
                <div class="flash-sale-container">
                    <div class="flash-sale-item">
                        <div class="fl-item-img">
                            <img src="assets/image/common/flash-sale/pexels-pixabay-45853.jpg">
                        </div>
                        <div class="fl-item-content">
                            <div class="fl-item-name">
                                <span>Combo Sách TedBook (Bộ 4 Cuốn)sd sadasdasdasdsd</span>
                            </div>
                            <div class="fl-item-price">
                                <div class="item-price">
                                    <span>26.600 đ</span>
                                </div>
                                <div class="item-stock">
                                    <span>-30%</span>
                                </div>
                            </div>
                            <div class="fl-item-price-stock">
                                <span><del>67.000 đ</del></span>
                            </div>
                            <div class="fl-item-rating">
                                <div class="item-rating">
                                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                                    <img src="assets/image/common/icon/ico_star_gray.svg">
                                    <img src="assets/image/common/icon/ico_star_gray.svg">
                                </div>
                                <div class="item-total">
                                    <span>(5)</span>
                                </div>
                            </div>
                            <div class="fl-item-btn">
                                <button>
                                    <img src="assets/image/common/icon/ico-shopping-bag-orange.svg">
                                    Thêm vào giỏ hàng
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flash-sale-container">
                    <div class="flash-sale-item">
                        <div class="fl-item-img">
                            <img src="assets/image/common/flash-sale/pexels-pixabay-45853.jpg">
                        </div>
                        <div class="fl-item-content">
                            <div class="fl-item-name">
                                <span>Combo Sách TedBook (Bộ 4 Cuốn)sd sadasdasdasdsd</span>
                            </div>
                            <div class="fl-item-price">
                                <div class="item-price">
                                    <span>26.600 đ</span>
                                </div>
                                <div class="item-stock">
                                    <span>-30%</span>
                                </div>
                            </div>
                            <div class="fl-item-price-stock">
                                <span><del>67.000 đ</del></span>
                            </div>
                            <div class="fl-item-rating">
                                <div class="item-rating">
                                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                                    <img src="assets/image/common/icon/ico_star_gray.svg">
                                    <img src="assets/image/common/icon/ico_star_gray.svg">
                                </div>
                                <div class="item-total">
                                    <span>(5)</span>
                                </div>
                            </div>
                            <div class="fl-item-btn">
                                <button>
                                    <img src="assets/image/common/icon/ico-shopping-bag-orange.svg">
                                    Thêm vào giỏ hàng
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flash-sale-container">
                    <div class="flash-sale-item">
                        <div class="fl-item-img">
                            <img src="assets/image/common/flash-sale/pexels-pixabay-45853.jpg">
                        </div>
                        <div class="fl-item-content">
                            <div class="fl-item-name">
                                <span>Combo Sách TedBook (Bộ 4 Cuốn)sd sadasdasdasdsd</span>
                            </div>
                            <div class="fl-item-price">
                                <div class="item-price">
                                    <span>26.600 đ</span>
                                </div>
                                <div class="item-stock">
                                    <span>-30%</span>
                                </div>
                            </div>
                            <div class="fl-item-price-stock">
                                <span><del>67.000 đ</del></span>
                            </div>
                            <div class="fl-item-rating">
                                <div class="item-rating">
                                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                                    <img src="assets/image/common/icon/ico_star_gray.svg">
                                    <img src="assets/image/common/icon/ico_star_gray.svg">
                                </div>
                                <div class="item-total">
                                    <span>(5)</span>
                                </div>
                            </div>
                            <div class="fl-item-btn">
                                <button>
                                    <img src="assets/image/common/icon/ico-shopping-bag-orange.svg">
                                    Thêm vào giỏ hàng
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flash-sale-container">
                    <div class="flash-sale-item">
                        <div class="fl-item-img">
                            <img src="assets/image/common/flash-sale/pexels-pixabay-45853.jpg">
                        </div>
                        <div class="fl-item-content">
                            <div class="fl-item-name">
                                <span>Combo Sách TedBook (Bộ 4 Cuốn)sd sadasdasdasdsd</span>
                            </div>
                            <div class="fl-item-price">
                                <div class="item-price">
                                    <span>26.600 đ</span>
                                </div>
                                <div class="item-stock">
                                    <span>-30%</span>
                                </div>
                            </div>
                            <div class="fl-item-price-stock">
                                <span><del>67.000 đ</del></span>
                            </div>
                            <div class="fl-item-rating">
                                <div class="item-rating">
                                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                                    <img src="assets/image/common/icon/ico_star_gray.svg">
                                    <img src="assets/image/common/icon/ico_star_gray.svg">
                                </div>
                                <div class="item-total">
                                    <span>(5)</span>
                                </div>
                            </div>
                            <div class="fl-item-btn">
                                <button>
                                    <img src="assets/image/common/icon/ico-shopping-bag-orange.svg">
                                    Thêm vào giỏ hàng
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flash-sale-container">
                    <div class="flash-sale-item">
                        <div class="fl-item-img">
                            <img src="assets/image/common/flash-sale/pexels-pixabay-45853.jpg">
                        </div>
                        <div class="fl-item-content">
                            <div class="fl-item-name">
                                <span>Combo Sách TedBook (Bộ 4 Cuốn)sd sadasdasdasdsd</span>
                            </div>
                            <div class="fl-item-price">
                                <div class="item-price">
                                    <span>26.600 đ</span>
                                </div>
                                <div class="item-stock">
                                    <span>-30%</span>
                                </div>
                            </div>
                            <div class="fl-item-price-stock">
                                <span><del>67.000 đ</del></span>
                            </div>
                            <div class="fl-item-rating">
                                <div class="item-rating">
                                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                                    <img src="assets/image/common/icon/ico_star_gray.svg">
                                    <img src="assets/image/common/icon/ico_star_gray.svg">
                                </div>
                                <div class="item-total">
                                    <span>(5)</span>
                                </div>
                            </div>
                            <div class="fl-item-btn">
                                <button>
                                    <img src="assets/image/common/icon/ico-shopping-bag-orange.svg">
                                    Thêm vào giỏ hàng
                                </button>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>

    </div>
</div>