<div class="event-body">
    <div class="event-body-container-fl" *ngIf="type == 1; else elseType">
        <div class="event-body-grid-fl" [style.transform]="'translate3d(-' + widthItemChanged + 'px, 0, 0)'">
            <app-card-item *ngFor="let item of arrItem;" [product]="item"></app-card-item>
        </div>
    </div>
    <app-load-more-button *ngIf="type == 1" [type]="type"></app-load-more-button>
       
    <ng-template #elseType>
        <div class="event-body-container">
            <div class="event-body-grid">
                <app-card-item *ngFor="let item of arrItem" [product]="item"></app-card-item>
            </div>
        </div>
        <app-load-more-button [type]="type"></app-load-more-button>
    </ng-template>
</div>