.event-body {
    background-color: #ffffff;
    padding: 5px 5px 10px 5px;
    border-radius: 0px 0px 10px 10px;
    .event-body-container-fl {
        width: 100%;
        overflow: hidden;
        .event-body-grid-fl {
            display: flex;
            transition-duration: 0.5s;
        }
    } 
    .event-body-container {
        width: 100%;
        ::ng-deep .event-body-grid {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
    }     
    
}

::ng-deep {
    .body-btn-fl:hover {
        color: #ffffff !important;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
}

.event-body-grid .card-container {
    width: 153px !important;
    .card-item {
        .card-item-img {
            height: 109px !important;
        }
    }
}

:host::ng-deep .event-body-grid {
    @media only screen and (min-width: 336px) and (max-width: 500px) {
    
        .card-container {
            width: 153px !important;
            .card-item {
                .card-item-img {
                    height: 109px !important;
                }
            }
        }
        .card-item-name {
            a {
                width: 131px !important;
                height: 35px !important;
                font-size: 13px !important;
            }
        }
        .card-item-price {
            .item-price {
                span {
                    font-size: 15px !important;
                }
            }
        }
        .item-stock {
            width: 38px !important;
            height: 24px !important;
            span {
                font-size: 11px !important;
            }
        }
        .card-item-price-stock {
            span {
                font-size: 12px !important;
            }
        }
        .card-item-rating {
            .item-img {
                width: 14px !important;
                height: 14px !important;
            }
            .item-total {
                span {
                    font-size: 12px !important;
                    line-height: 12px !important;
                }
            }
        }
        .card-item-progress {
            height: 14px !important;
            .item-progress {
                height: 14px !important;
            }
            .item-text {
                font-size: 10px !important;
                line-height: 10px !important;
            }
        }
    
    }
}






