.card-container {
    padding: 10px;
    margin: 0px 5px;
    border: 1px solid #e9e4e4;
    .card-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card-item-img {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 190px;
            margin: 0px 13px;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
            }
        }
        .card-item-content {
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .card-item-name {
                display: flex;
                flex-flow: row;
                a {
                    text-decoration: none;
                    color: #000000;
                    font-size: 15px;
                    min-width: 212px;
                    min-height: 45px;
                    max-height: 45px;
                    overflow: hidden;
                    display: block;
                }
            }
            .card-item-price {
                display: flex;
                align-items: center;
                margin-top: 5px;
                .item-price {
                    margin-right: 7px;
                    span {
                        font-size: 17px;
                        font-weight: bold;
                        color: #c92127;
                    }
                }
                .item-stock {
                    width: 41px;
                    height: 26px;
                    background-color: #c92127;
                    position: relative;
                    border-radius: 5px;
                    span {
                        position: absolute;
                        font-size: 13px;
                        font-weight: bold;
                        color: #ffffff;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            .card-item-price-stock {
                span {
                    color: #888888;
                    font-size: 14px;
                }
            }
            .card-item-rating {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                .item-img {
                    position: relative;
                    width: 16px;
                    height: 16px;
                    overflow: hidden;
                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }
                }
                .item-total {
                    position: relative;
                    margin-left: 5px;
                    height: 16px;
                    width: 18px;
                    span{
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        font-size: 14px;
                        line-height: 14px;
                        font-weight: 500;
                        color: #F8BA3B;
                    }                   
                }
            }
            .card-item-btn {
                .btn-item {
                    width: 100%;
                    height: 36px;
                    background-color: #ffffff;
                    border-radius: 20px;
                    border: 1px solid #F8BA3B;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    .btn-img {
                        background: url('../../assets/image/common/icon/ico-shopping-bag-orange.svg') no-repeat center center;
                        background-size: contain;
                        width: 16px;
                        height: 16px;
                    }
                    span {
                        font-size: 14px;
                        line-height: 16px;
                        margin-left: 5px;
                        font-weight: bold;
                        color: #F8BA3B;
                    }                   
                }
            }
        }
    }    
}

::ng-deep {
    .btn-item:hover {
        border: none;
        background: linear-gradient(90deg, rgba(255,152,0,1) 0%, rgba(247,105,93,1) 100%);
        .btn-img {
            background: url('../../assets/image/common/icon/ico-shopping-bag-white.svg') no-repeat center center !important;
            background-size: contain !important;
            width: 16px !important;
            height: 16px !important;
        }
        span {
            color: #ffffff !important;
        }
    }
    .card-container:hover {
        border: 1px solid #adabab;
    }

    .card-item-name:hover {
        a {
            color: #F8BA3B !important;
        }
    }
}
