<div class="card-container" [attr.id]="'card-container-' + idEvent">
    <div class="card-item">
        <div class="card-item-img">
            <a href="">
                <img src="assets/image/common/flash-sale/pexels-pixabay-45853.jpg">
            </a>
        </div>
        <div class="card-item-content">
            <div class="card-item-name">
                <a href="" [title]="product.name">{{product.name}}</a>
            </div>
            <div class="card-item-price">
                <div class="item-price">
                    <span>{{product.price | number}} đ</span>
                </div>
                <div class="item-stock" *ngIf="product.discountNumber">
                    <span>-{{product.discountNumber}}%</span>
                </div>
            </div>
            <div class="card-item-price-stock">
                <span *ngIf="product.discountPrice"><del>{{product.discountPrice | number}} đ</del></span>
            </div>
            <div class="card-item-rating">
                <div class="item-img" *ngFor="let i of startRatingLoop(product.rating)">
                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                </div>
                <div class="item-img" *ngFor="let i of startRatingLoop(5 - product.rating)">
                    <img src="assets/image/common/icon/ico_star_gray.svg">
                </div>
                <div class="item-total">
                    <span>({{product.totalRating}})</span>
                </div>
            </div>
            <!-- <div class="card-item-btn">
                <div class="btn-item">
                    <div class="btn-img"></div>
                    <span>Thêm vào giỏ hàng</span>
                </div>
            </div> -->
            <div class="card-item-progress">
                <div class="item-progress" [style.width]="product.progress + '%'"></div>
                <div class="item-text">
                    Đã bán {{product.sold}}
                </div>
            </div>
        </div>
    </div>    
</div>

