<div class="card-container">
    <div class="card-item">
        <div class="card-item-img">
            <img src="assets/image/common/flash-sale/pexels-pixabay-45853.jpg">
        </div>
        <div class="card-item-content">
            <div class="card-item-name">
                <span>Combo Sách TedBook (Bộ 4 Cuốn)sd sadasdasdasdsd</span>
            </div>
            <div class="card-item-price">
                <div class="item-price">
                    <span>26.600 đ</span>
                </div>
                <div class="item-stock">
                    <span>-30%</span>
                </div>
            </div>
            <div class="card-item-price-stock">
                <span><del>67.000 đ</del></span>
            </div>
            <div class="card-item-rating">
                <div class="item-rating">
                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                    <img src="assets/image/common/icon/ico_star_yellow.svg">
                    <img src="assets/image/common/icon/ico_star_gray.svg">
                    <img src="assets/image/common/icon/ico_star_gray.svg">
                </div>
                <div class="item-total">
                    <span>(5)</span>
                </div>
            </div>
            <div class="card-item-btn">
                <button>
                    <img src="assets/image/common/icon/ico-shopping-bag-orange.svg">
                    Thêm vào giỏ hàng
                </button>
            </div>
        </div>
    </div>    
</div>

