<div class="item-container-dropdown">
    <div class="main-item">
        <img src="assets/image/header/icon/ico_noti_gray.svg" alt="icon">
        <span>Tài Khoản</span>
    </div>   
    <div class="item-account-dropdown">
        <div class="item-account-btn">
            <button class="btn-login">Đăng nhập</button>
            <button class="btn-register">Đăng ký</button>
            <button class="btn-facebook">
                <img src="assets/image/common/popup/header/facebook_logo.svg" alt="">
                <span>Đăng nhập bằng facebook</span>
            </button>
        </div>
    </div>
</div>