<div class="aside-bar-container" id="aside-bar-container">
    <div class="aside-bar-logo-container" id="aside-bar-logo-container">
        <div class="aside-bar-logo logo-favorite">
            <img src="assets/image/aside-bar/ico_like_white.svg" alt="">
            <span class="tooltip-text">Gợi ý dành riêng cho bạn</span>
        </div>
        <div class="aside-bar-logo logo-suggest show" id="side-bar-logo-suggest">
            <img src="assets/image/aside-bar/ico_book_fill_white.svg" alt="">
            <span class="tooltip-text">Sách đang theo dõi</span>
        </div>
        <div class="aside-bar-logo logo-scroll-top btn-disabled" id="side-bar-logo-scroll-top">
            <img src="assets/image/aside-bar/up-squared-32.png" alt="">
            <span class="tooltip-text">Lên đầu trang</span>
        </div>
    </div>
    <div class="aside-bar-content-container" id="aside-bar-content-container">
        <div class="aside-bar-content-suggest">
            <div class="content-item">
                <img src="assets/image/aside-bar/item/cau-ma-nha-xi-hanako-_-tap-14-_-bia-1.jpg" alt="">
                <a href="#" class="content-name">Thanh Gươm Diệt Qủy sdadasd fewrwew dasdadas</a>
                <span class="content-price">Giá sản phẩm: <span class="text-red">{{20000 | number}}</span> đ</span>
                <span class="content-follow">1000 lượt theo dõi</span>
            </div>
            <div class="content-item">
                <img src="assets/image/aside-bar/item/cau-ma-nha-xi-hanako-_-tap-14-_-bia-1.jpg" alt="">
                <a href="#" class="content-name">Thanh Gươm Diệt Qủy</a>
                <span class="content-price">Giá sản phẩm: <span class="text-red">{{20000 | number}}</span> đ</span>
                <span class="content-follow">1000 lượt theo dõi</span>
            </div>
            <div class="content-item">
                <img src="assets/image/aside-bar/item/cau-ma-nha-xi-hanako-_-tap-14-_-bia-1.jpg" alt="">
                <a href="#" class="content-name">Thanh Gươm Diệt Qủy</a>
                <span class="content-price">Giá sản phẩm: <span class="text-red">{{20000 | number}}</span> đ</span>
                <span class="content-follow">1000 lượt theo dõi</span>
            </div>
            <div class="content-item">
                <img src="assets/image/aside-bar/item/cau-ma-nha-xi-hanako-_-tap-14-_-bia-1.jpg" alt="">
                <a href="#" class="content-name">Thanh Gươm Diệt Qủy</a>
                <span class="content-price">Giá sản phẩm: <span class="text-red">{{20000 | number}}</span> đ</span>
                <span class="content-follow">1000 lượt theo dõi</span>
            </div>
            <div class="content-item">
                <img src="assets/image/aside-bar/item/cau-ma-nha-xi-hanako-_-tap-14-_-bia-1.jpg" alt="">
                <a href="#" class="content-name">Thanh Gươm Diệt Qủy</a>
                <span class="content-price">Giá sản phẩm: <span class="text-red">{{20000 | number}}</span> đ</span>
                <span class="content-follow">1000 lượt theo dõi</span>
            </div>
        </div>        
    </div>
    <div class="aside-bar-footer-container" id="aside-bar-footer-container">
        <div class="aside-bar-footer">
            <button class="btn-more">XEM THÊM</button>
        </div>
    </div>
</div>
