::ng-deep {
    @media only screen and (max-width: 980px) {
        .header-container-desktop {
            display: none;
        }
        .header-container-mobile {
            display: block;
        }
    }
    
    @media not screen and (max-width: 980px) {
        .header-container-desktop {
            display: block;
        }
        .header-container-mobile {
            display: none;
        }
    }
    
}
