.header-container-desktop {
    background-color: #ffffff;

    .container {
        .header-item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 68px;

            .header-logo {
                margin-bottom: 6px;
            }

            .header-main-functions {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 68px;
                margin-left: 20px;
                .header-main-item {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    width: 72px;
                    align-items: center;  
                    cursor: pointer;                 
                    span {
                        font-size: 15px;
                    }                
                }
            }

            .header-category {             
                .category-item {
                    display: flex;
                    justify-content: end;
                    -webkit-justify-content: end;
                    width: 90px;
                    margin-right: 5px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1320px) {
    .header-main-functions {
        margin-left: 10px !important;
        .header-main-item {
            margin-left: 10px !important;
            width: 64px !important;
            span {
                font-size: 13px !important;
            }
        }
    }
    .category-item {
        width: 80px !important;
    }
}

@media only screen and (max-width: 1270px) {
    .header-main-functions {
        margin-left: 5px !important;
        .header-main-item {
            margin-left: 5px !important;
            width: 64px !important;
            span {
                font-size: 13px !important;
            }
        }
    }
    .category-item {
        width: 70px !important;
    }
}
