<div class="header-container-desktop">
    <div class="container nopadding">
        <div class="header-item">
            <div class="header-logo">
                <img src="assets/image/header/logo/fahasa_logo.png" alt="logo">
            </div>
            <div class="header-category">
                <div class="category-item">
                    <img src="assets/image/header/icon/ico_menu.svg" alt="icon">
                    <img src="assets/image/header/icon/icon_seemore_gray.svg" alt="icon">
                </div>          
            </div>
            <div class="header-search">
                <form action="">
                    <div class="search-container">
                        <input type="text" placeholder="Tìm kiếm sản phẩm mong muốn...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="header-main-functions">
                <div class="header-main-item">
                    <img src="assets/image/header/icon/ico_noti_gray.svg" alt="icon">
                    <span>Thông Báo</span>
                </div>
                <div class="header-main-item">
                    <img src="assets/image/header/icon/ico_cart_gray.svg" alt="icon">
                    <span>Giỏ Hàng</span>
                </div>
                <div class="header-main-item">
                    <img src="assets/image/header/icon/ico_account_gray.svg" alt="icon">
                    <span>Tài Khoản</span>
                </div>
                <div class="header-main-item">
                    <div class="language-container">
                        <div class="image-item">
                            <img src="assets/image/header/icon/default.svg" alt="icon">
                            <img src="assets/image/header/icon/icon_seemore_gray.svg" class="ms-1" alt="icon">
                        </div>                       
                    </div>                    
                </div>
            </div>           
        </div>
    </div>
</div>