<div class="item-container-dropdown">
    <div class="main-item-category">
        <div class="category-item">
            <img src="assets/image/header/icon/ico_menu.svg" alt="icon">
            <img src="assets/image/header/icon/icon_seemore_gray.svg" alt="icon">
        </div>          
    </div>  
    <div class="item-category-dropdown">
        <div class="category-dropdown-container">
            <div class="category-main-title">
                <div class="category-title">
                    <span>Danh mục sản phẩm</span>
                </div>
            </div>
            <div class="category-main-content">
                <div class="category-content-name">
                    <img src="assets/image/common/popup/category/ico_sachtrongnuoc.svg" alt="">
                    <span>Sách trong nước</span>
                </div>
            </div>
        </div>
    </div>
</div>