<div class="item-container-dropdown" id="popup-category">
    <div class="main-item-category">
        <div class="category-item">
            <img src="assets/image/header/icon/ico_menu.svg" alt="icon">
            <img src="assets/image/header/icon/icon_seemore_gray.svg" alt="icon">
        </div>          
    </div>  
    <div class="item-category-dropdown">
        <div class="category-dropdown-container">
            <div class="category-main-title">
                <div class="category-title">
                    <span>Danh mục sản phẩm</span>
                </div>
                <div class="category-title-name active">
                    <a href="#">Sách Trong Nước</a>
                </div>
                <div class="category-title-name">
                    <a href="#">Sách Nước Ngoài</a>
                </div>
                <div class="category-title-name">
                    <a href="#">Dụng Cụ Học Sinh</a>
                </div>
                <div class="category-title-name">
                    <a href="#">Đồ Chơi</a>
                </div>
                <div class="category-title-name">
                    <a href="#">Làm Đẹp - Sức Khỏe</a>
                </div>
                <div class="category-title-name">
                    <a href="#">Hành Trang Đến Trường</a>
                </div>
                <div class="category-title-name">
                    <a href="#">Đồ Chơi Theo Thương Hiệu</a>
                </div>
                <div class="category-title-name">
                    <a href="#">Bách Hóa Online - Lưu Niệm</a>
                </div>
            </div>
            <div class="category-separate"></div>
            <div class="category-main-content">
                <div class="category-content-title">
                    <img src="assets/image/common/popup/header/category/ico_sachtrongnuoc.svg" alt="">
                    <span>Sách trong nước</span>
                </div>
                <div class="category-content">
                    <div class="content-container">
                        <div class="title">
                            <span>VĂN HỌC</span>
                        </div>
                        <div class="item">
                            <a href="#">Tiểu Thuyết</a>
                        </div>
                        <div class="item">
                            <a href="#">Truyện Ngắn - Tản Văn</a>
                        </div>
                        <div class="item">
                            <a href="#">Light Novel</a>
                        </div>
                        <div class="item">
                            <a href="#">Ngôn Tình</a>
                        </div>
                        <div class="more">
                            <a href="#">Xem tất cả</a>
                        </div>
                    </div>

                    <div class="content-container">
                        <div class="title">
                            <span>KINH TẾ</span>
                        </div>
                        <div class="item">
                            <a href="#">Nhân Vật - Bài Học Kinh Doanh</a>
                        </div>
                        <div class="item">
                            <a href="#">Quản Trị - Lãnh Đạo</a>
                        </div>
                        <div class="item">
                            <a href="#">Marketing - Bán Hàng</a>
                        </div>
                        <div class="item">
                            <a href="#">Phân Tính Kinh Tế</a>
                        </div>
                        <div class="more">
                            <a href="#">Xem tất cả</a>
                        </div>
                    </div>

                    <div class="content-container">
                        <div class="title">
                            <span>TÂM LÝ - KỸ NĂNG SỐNG</span>
                        </div>
                        <div class="item">
                            <a href="#">Kỹ Năng Sống</a>
                        </div>
                        <div class="item">
                            <a href="#">Rèn Luyện Nhân Cách</a>
                        </div>
                        <div class="item">
                            <a href="#">Tâm Lý</a>
                        </div>
                        <div class="item">
                            <a href="#">Sách Cho Tuổi Mới Lớn</a>
                        </div>
                        <div class="more">
                            <a href="#">Xem tất cả</a>
                        </div>
                    </div>

                    <div class="content-container">
                        <div class="title">
                            <span>NUÔI DẠY CON</span>
                        </div>
                        <div class="item">
                            <a href="#">Cẩm Nang Làm Mẹ</a>
                        </div>
                        <div class="item">
                            <a href="#">Phương Pháp Giáo Dục Trẻ Nhỏ</a>
                        </div>
                        <div class="item">
                            <a href="#">Phát Triển Trí Tuệ Cho Trẻ</a>
                        </div>
                        <div class="item">
                            <a href="#">Phát Triển Kỹ Năng Cho Trẻ</a>
                        </div>
                        <div class="more">
                            <a href="#">Xem tất cả</a>
                        </div>
                    </div>

                    <div class="content-container">
                        <div class="title">
                            <span>SÁCH THIẾU NHI</span>
                        </div>
                        <div class="item">
                            <a href="#">Manga - Comic</a>
                        </div>
                        <div class="item">
                            <a href="#">Kiến Thức Bách Khoa</a>
                        </div>
                        <div class="item">
                            <a href="#">Sách Tranh Kỹ Năng Sống Cho Trẻ</a>
                        </div>
                        <div class="item">
                            <a href="#">Vừa Học - Vừa Học Vừa Chơi Với Trẻ</a>
                        </div>
                        <div class="more">
                            <a href="#">Xem tất cả</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>