.item-container-dropdown {
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
    cursor: pointer;
    .main-item-category {             
        .category-item {
            display: flex;
            justify-content: end;
            -webkit-justify-content: end;
            width: 90px;
            margin-right: 5px;
        }
    }
    .item-category-dropdown {
        display: none;
        position: absolute;
        right: 0;
        bottom: 0%;
        transform: translate(0, 100%);
        width: 264px;
        z-index: 999;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        
    }
}

:host::ng-deep .item-container-dropdown:hover .item-category-dropdown {
    display: block !important;
}

@media only screen and (max-width: 1320px) {
    .main-item {
        margin-left: 10px !important;
        width: 64px !important;
        span {
            font-size: 13px !important;
        }
    }
}

@media only screen and (max-width: 1270px) {
    .main-item {
        margin-left: 5px !important;
        width: 64px !important;
        span {
            font-size: 13px !important;
        }
    }
}