.icon-grid-container {
    display: flex;
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 10px;
    flex-flow: row wrap;
    padding: 15px 4px;
    .icon-grid-item {
        width: 10%;
        .item-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;          
            .item-img {
                position: relative;
                width: 49px;
                height: 49px;
                overflow: hidden;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .item-text {
                padding: 10px 10px 0px;
                span {
                    font-size: 15px;
                }
            }
        }
    }
}

@media only screen and (max-width: 980px) {
    .item-img {
        width: 30px !important;
        height: 30px !important;
    }
    .item-text {
        font-size: 13px !important;
    }
}

@media only screen and (max-width: 770px) {
    .item-img {
        width: 49px !important;
        height: 49px !important;
    }
    .item-text {
        span {
            font-size: 12px !important;
        }
    }
    .icon-grid-item {
        width: 20% !important;
        padding-bottom: 10px;
    }
}
