<div class="common-container">
    <!-- <div class="container nopadding"> -->
        <div class="icon-grid-container">
            <div class="icon-grid-item">
                <div class="item-container">
                    <div class="item-img">
                        <img src="assets/image/icon/Icon_FlashSale_Hot_8px_1.png">
                    </div>
                    <div class="item-text">
                        <span>Flash Sale</span>
                    </div>
                </div>
            </div>
            <div class="icon-grid-item">
                <div class="item-container">
                    <div class="item-img">
                        <img src="assets/image/icon/Icon_MaGiamGia_8px_1.png">
                    </div>
                    <div class="item-text">
                        <span>Mã giảm giá</span>
                    </div>
                </div>
            </div>
            <div class="icon-grid-item">
                <div class="item-container">
                    <div class="item-img">
                        <img src="assets/image/icon/Icon_Trending_Hot_8px_1.png">
                    </div>
                    <div class="item-text">
                        <span>Xu hướng</span>
                    </div>
                </div>
            </div>
            <div class="icon-grid-item">
                <div class="item-container">
                    <div class="item-img">
                        <img src="assets/image/icon/Icon_PhienChoCu_8px_1.png">
                    </div>
                    <div class="item-text">
                        <span>Phiên Chợ Sách Cũ</span>
                    </div>
                </div>
            </div>
            <div class="icon-grid-item">
                <div class="item-container">
                    <div class="item-img">
                        <img src="assets/image/icon/Icon_SanPhamMoi_8px_1.png">
                    </div>
                    <div class="item-text">
                        <span>Sản phẩm mới</span>
                    </div>
                </div>
            </div>
            <div class="icon-grid-item">
                <div class="item-container">
                    <div class="item-img">
                        <img src="assets/image/icon/Icon_VanHoc_8px_1.png">
                    </div>
                    <div class="item-text">
                        <span>Tủ sách tham khảo</span>
                    </div>
                </div>
            </div>
            <div class="icon-grid-item">
                <div class="item-container">
                    <div class="item-img">
                        <img src="assets/image/icon/Icon_VanPhongPham_Hot_8px_1.png">
                    </div>
                    <div class="item-text">
                        <span>SGK & VPP</span>
                    </div>
                </div>
            </div>
            <div class="icon-grid-item">
                <div class="item-container">
                    <div class="item-img">
                        <img src="assets/image/icon/Icon_ThieuNhi_8px_1.png">
                    </div>
                    <div class="item-text">
                        <span>Thiếu nhi</span>
                    </div>
                </div>
            </div>
            <div class="icon-grid-item">
                <div class="item-container">
                    <div class="item-img">
                        <img src="assets/image/icon/Icon_MangaCommic_8px_1.png">
                    </div>
                    <div class="item-text">
                        <span>Manga - Comic</span>
                    </div>
                </div>
            </div>
            <div class="icon-grid-item">
                <div class="item-container">
                    <div class="item-img">
                        <img src="assets/image/icon/Icon_KinhTe_8px_1.png">
                    </div>
                    <div class="item-text">
                        <span>Kinh tế</span>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>